<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{block "title" .}}Track Changes Dashboard{{end}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='{{ index .Manifest "main.css" }}' rel="stylesheet">
    {{block "js-head" .}}{{end}}
  </head>
  <body>
    {{block "body" .}}{{end}}
  </body>
</html>
