<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Track Changes Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='{{ index .Manifest "main.css" }}' rel="stylesheet">
  <script type="text/javascript">
    window.trackChanges = {
      basicAuthHeader: {{.BasicAuthHeader}}
    };
  </script>
  <script type="text/javascript" src='{{ index .Manifest "main.js" }}' async defer></script>
</head>
<body>
    <h1>Track Changes</h1>

    <div class="refresh">
      <span>Last refresh:</span>
      <span class="refresh-time">None</span>
      <button class="refresh-btn">Refresh</button>
    </div>
    <div id="error" class="display-none"></div>

    <table id="xtable">
     <thead>
      <tr>
       <th class="sortable">Name</th>
       <th>Content</th>
       <th>Tweet</th>
       <th class="sortable table-time">Last Change</th>
       <th class="sortable table-time">Last Check</th>
       <th class="sortable table-error">Errors</th>
      </tr>
     </thead>
     <tbody>
      <tr><td colspan="6">Loading...</td></tr>
     </tbody>
    </table>
  </body>
</html>
